# Config
config.json
# Node Modules
node_modules
# Logs
logs
# Dist
dist
# Env
.env*
# Prettier
.prettierrc.json
.editorconfig
# Docker files
discordbot.dockerfile
Dockerfile
dockerfile
docker-compose.yml
start-bot.sh
build-bot.sh
