# Config
config.json
# Node Modules
node_modules
# Logs
logs
# Dist
dist
# Prettier
.prettierrc.json
#Other
.env
.editorconfig
# Docker
discordbot.dockerfile
Dockerfile
dockerfile
docker-compose.yml
build-bot.sh
start-bot.sh
